name: Titanic MLflow CI Advance

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  mlflow-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn joblib dagshub

      - name: Run MLflow Training
        env:
          # Menghubungkan GitHub dengan DagsHub
          DAGSHUB_USER_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          cd MLProject
          python modelling.py

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: naufalwijdan14
          password: ${{ secrets.NAUFALWIJDAN }}

      - name: Build & Push Docker
        run: |
          cd MLProject
          # Mencari path model yang baru saja dibuat oleh MLflow
          MODEL_PATH=$(find mlruns -name model -type d | head -n 1)
          
          if [ -z "$MODEL_PATH" ]; then
            echo "Model tidak ditemukan di mlruns!"
            exit 1
          fi

          mlflow models build-docker \
            -m "$MODEL_PATH" \
            -n naufalwijdan14/titanic-model:latest \
            --install-mlflow

          docker push naufalwijdan14/titanic-model:latest
