name: Titanic MLflow CI Advance

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  mlflow-ci-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow dagshub pandas scikit-learn joblib mlserver mlserver-mlflow

    
    # TRAINING + LOGGING MLFLOW
    
    - name: Run Training Script (CI Safe)
      env:
        MLFLOW_TRACKING_URI: https://dagshub.com/naufalwijdan14-ai/Eksperimen_SML_Muhamad-Naufal-Wijdan.mlflow
        MLFLOW_TRACKING_USERNAME: naufalwijdan14-ai
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
       cd MLProject
       python modelling.py --n_estimators 100 --max_depth 5


    # LOGIN DOCKER HUB
  
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    # BUILD & PUSH DOCKER IMAGE

    - name: Build and Push Docker Image from MLflow Model
      env:
        MLFLOW_TRACKING_URI: https://dagshub.com/naufalwijdan14-ai/Eksperimen_SML_Muhamad-Naufal-Wijdan.mlflow
        MLFLOW_TRACKING_USERNAME: naufalwijdan14-ai
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        mlflow models build-docker \
          -m "models:/Titanic_Project/latest" \
          -n "${{ secrets.DOCKERHUB_USERNAME }}/titanic-model:latest" \
          --enable-mlserver

        docker push ${{ secrets.DOCKERHUB_USERNAME }}/titanic-model:latest
