name: Titanic MLflow CI/CD Advanced

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    env:
      DATA_PATH: MLProject/titanic_preprocessing.csv

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install mlflow prometheus_client scikit-learn pandas joblib dagshub matplotlib seaborn

      - name: Run MLflow Training
        run: |
          cd MLProject
          mlflow run .
          
      - name: Commit and Push Model to Repo
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          # Tambahkan file .pkl 

          git add MLProject/model.pkl || echo "File .pkl tidak ditemukan"
          
          git commit -m "Chore: Update trained model artifact (.pkl) [skip ci]" || echo "No changes to commit"
          git push origin main
     
      - name: Upload Training Artifact (Internal GitHub)
        uses: actions/upload-artifact@v4
        with:
          name: titanic-model-file
          path: MLProject/model.pkl

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          cd MLProject
          MODEL_PATH=$(find mlruns -name "model" -type d | head -n 1)
          
          mlflow models build-docker \
            -m "$MODEL_PATH" \
            -n "${{ secrets.DOCKER_USERNAME }}/titanic-model:latest" \
            --install-mlflow
          
          docker push ${{ secrets.DOCKER_USERNAME }}/titanic-model:latest
