name: Titanic MLflow CI Advance

on:
  push:
    branches: [ main ]  
  pull_request:
    branches: [ main ]

jobs:
  mlflow-ci-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install mlflow dagshub pandas scikit-learn joblib mlserver mlserver-mlflow

      - name: Run MLflow Project (Training)
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_TOKEN }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # Pindah ke dalam folder dulu agar MLflow tidak bingung
          cd MLProject_Folder
          mlflow run . -P n_estimators=100 --env-manager local

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_TOKEN }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          # Membangun Docker Image dari model yang baru dilatih
          mlflow models build-docker -m "models:/Titanic_Project/latest" -n "${{ secrets.DOCKERHUB_USERNAME }}/titanic-model:latest" --enable-mlserver
          
          # Kirim ke Docker Hub
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/titanic-model:latest
