name: Titanic MLflow CI Advance

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  mlflow-ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn joblib

      - name: Run MLflow Training (LOCAL)
        run: |
          cd MLProject
          export MLFLOW_TRACKING_URI=sqlite:///mlflow.db
          python modelling.py

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: naufalwijdan14
          password: ${{ secrets.NAUFALWIJDAN }}

      - name: Build & Push Docker
        run: |
          cd MLProject
          MODEL_PATH=$(find mlruns -name model -type d | head -n 1)

          mlflow models build-docker \
            -m "$MODEL_PATH" \
            -n naufalwijdan14/titanic-model:latest \
            --install-mlflow

          docker push naufalwijdan14/titanic-model:latest
