name: Titanic MLflow CI Advance

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  mlflow-ci-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install mlflow pandas scikit-learn joblib

      - name: Run Training with MLflow
        run: |
          cd MLProject
          export MLFLOW_TRACKING_URI=sqlite:///mlflow.db
          python modelling.py

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          cd MLProject
          MODEL_PATH=$(find mlruns -name model -type d | head -n 1)

          mlflow models build-docker \
            -m "$MODEL_PATH" \
            -n "${{ secrets.DOCKERHUB_USERNAME }}/titanic-model:latest" \
            --install-mlflow

          docker push ${{ secrets.DOCKERHUB_USERNAME }}/titanic-model:latest
